/*从左边弹出来*/

@-webkit-keyframes bounceInLeft {
	0%,
	100%,
	60%,
	75%,
	90% {
		-webkit-transition-timing-function: cubic-bezier(0.215, .61, .355, 1);
		transition-timing-function: cubic-bezier(0.215, .61, .355, 1)
	}
	0% {
		opacity: 0;
		-webkit-transform: translate3d(-600px, 0, 0);
		transform: translate3d(-600px, 0, 0)
	}
	60% {
		opacity: 1;
		-webkit-transform: translate3d(25px, 0, 0);
		transform: translate3d(25px, 0, 0)
	}
	75% {
		opacity: 1;
		-webkit-transform: translate3d(-10px, 0, 0);
		transform: translate3d(-10px, 0, 0)
	}
	90% {
		opacity: 1;
		-webkit-transform: translate3d(5px, 0, 0);
		transform: translate3d(5px, 0, 0)
	}
	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none
	}
}

@keyframes bounceInLeft {
	0%,
	100%,
	60%,
	75%,
	90% {
		-webkit-transition-timing-function: cubic-bezier(0.215, .61, .355, 1);
		transition-timing-function: cubic-bezier(0.215, .61, .355, 1)
	}
	0% {
		opacity: 0;
		-webkit-transform: translate3d(-600px, 0, 0);
		-ms-transform: translate3d(-600px, 0, 0);
		transform: translate3d(-600px, 0, 0)
	}
	60% {
		opacity: 1;
		-webkit-transform: translate3d(25px, 0, 0);
		-ms-transform: translate3d(25px, 0, 0);
		transform: translate3d(25px, 0, 0)
	}
	75% {
		opacity: 1;
		-webkit-transform: translate3d(-10px, 0, 0);
		-ms-transform: translate3d(-10px, 0, 0);
		transform: translate3d(-10px, 0, 0)
	}
	90% {
		opacity: 1;
		-webkit-transform: translate3d(5px, 0, 0);
		-ms-transform: translate3d(5px, 0, 0);
		transform: translate3d(5px, 0, 0)
	}
	100% {
		opacity: 1;
		-webkit-transform: none;
		-ms-transform: none;
		transform: none
	}
}

.bounceInLeft {
	animation: bounceInLeft 0.4s linear;
	-webkit-animation: bounceInLeft 0.4s linear;
	animation-iteration-count: 1;
	-webkit-animation-iteration-count: 1;
}


/*从左边弹出来回去*/

@-webkit-keyframes bounceOutLeft {
	20% {
		opacity: 1;
		-webkit-transform: translate3d(20px, 0, 0);
		transform: translate3d(20px, 0, 0)
	}
	100% {
		opacity: 0;
		-webkit-transform: translate3d(-600px, 0, 0);
		transform: translate3d(-600px, 0, 0)
	}
}

@keyframes bounceOutLeft {
	20% {
		opacity: 1;
		-webkit-transform: translate3d(20px, 0, 0);
		-ms-transform: translate3d(20px, 0, 0);
		transform: translate3d(20px, 0, 0)
	}
	100% {
		opacity: 0;
		-webkit-transform: translate3d(-600px, 0, 0);
		-ms-transform: translate3d(-600px, 0, 0);
		transform: translate3d(-600px, 0, 0)
	}
}

.bounceOutLeft {
	animation: bounceOutLeft 1s ease-in;
	-webkit-animation: bounceOutLeft 1s ease-in;
	animation-iteration-count: 1;
	-webkit-animation-iteration-count: 1;
}



/*第一朵云云飘呀飘*/

@keyframes cloudright {
	0% {
		margin-left: 5.833333%;
		opacity: 0.5;
	}
	25% {
		margin-left: -15.833333%;
		opacity: 0.6;
	}
	50% {
		margin-left: 5.833333%;
		opacity: 0.8;
	}
	75% {
		margin-left: 25.833333%;
		opacity: 0.6;
	}
	100% {
		margin-left: 5.833333%;
		opacity: 0.5;
	}
}

@-moz-keyframes cloudright
/* Firefox */

{
	0% {
		margin-left: 5.833333%;
		opacity: 0.5;
	}
	25% {
		margin-left: -15.833333%;
		opacity: 0.6;
	}
	50% {
		margin-left: 5.833333%;
		opacity: 0.8;
	}
	75% {
		margin-left: 25.833333%;
		opacity: 0.6;
	}
	100% {
		margin-left: 5.833333%;
		opacity: 0.5;
	}
}

@-webkit-keyframes cloudright
/* Safari 和 Chrome */

{
	0% {
		margin-left: 5.833333%;
		opacity: 0.5;
	}
	25% {
		margin-left: -15.833333%;
		opacity: 0.6;
	}
	50% {
		margin-left: 5.833333%;
		opacity: 0.8;
	}
	75% {
		margin-left: 25.833333%;
		opacity: 0.6;
	}
	100% {
		margin-left: 5.833333%;
		opacity: 0.5;
	}
}


/*第二朵云云飘呀飘*/

@keyframes cloudleft {
	0% {
		margin-left: 1.388888%;
		opacity: 0.5;
	}
	25% {
		margin-left: 21.388888%;
		opacity: 0.6;
	}
	50% {
		margin-left: 1.388888%;
		opacity: 0.8;
	}
	75% {
		margin-left: -19.388888%;
		opacity: 0.6;
	}
	100% {
		margin-left: 1.388888%;
		opacity: 0.5;
	}
}

@-moz-keyframes cloudleft
/* Firefox */

{
	0% {
		margin-left: 1.388888%;
		opacity: 0.5;
	}
	25% {
		margin-left: 21.388888%;
		opacity: 0.6;
	}
	50% {
		margin-left: 1.388888%;
		opacity: 0.8;
	}
	75% {
		margin-left: -19.388888%;
		opacity: 0.6;
	}
	100% {
		margin-left: 1.388888%;
		opacity: 0.5;
	}
}

@-webkit-keyframes cloudleft
/* Safari 和 Chrome */

{
	0% {
		margin-left: 1.388888%;
		opacity: 0.5;
	}
	25% {
		margin-left: 21.388888%;
		opacity: 0.6;
	}
	50% {
		margin-left: 1.388888%;
		opacity: 0.8;
	}
	75% {
		margin-left: -19.388888%;
		opacity: 0.6;
	}
	100% {
		margin-left: 1.388888%;
		opacity: 0.5;
	}
}


/*嘤花飘落*/

@keyframes flowerOne {
	0% {
		transform: rotate(200deg);
		opacity: 1;
		top: 32%;
	}
	100% {
		transform: rotate(-200deg);
		opacity: 0.2;
		top: 105%;
	}
}

@-moz-keyframes flowerOne
/* Firefox */

{
	0% {
		transform: rotate(200deg);
		opacity: 1;
		top: 32%;
	}
	100% {
		transform: rotate(-200deg);
		opacity: 0.2;
		top: 105%;
	}
}

@-webkit-keyframes flowerOne
/* Safari 和 Chrome */

{
	0% {
		transform: rotate(200deg);
		opacity: 1;
		top: 32%;
	}
	100% {
		transform: rotate(-200deg);
		opacity: 0.2;
		top: 105%;
	}
}


/*上一部分结束*/

@keyframes flowerTwo {
	0% {
		transform: rotate(150deg);
		opacity: 1;
		top: 28%;
	}
	100% {
		transform: rotate(-150deg);
		opacity: 0.2;
		top: 100%;
	}
}

@-moz-keyframes flowerTwo
/* Firefox */

{
	0% {
		transform: rotate(150deg);
		opacity: 1;
		top: 28%;
	}
	100% {
		transform: rotate(-150deg);
		opacity: 0.2;
		top: 100%;
	}
}

@-webkit-keyframes flowerTwo
/* Safari 和 Chrome */

{
	0% {
		transform: rotate(150deg);
		opacity: 1;
		top: 28%;
	}
	100% {
		transform: rotate(-150deg);
		opacity: 0.2;
		top: 100%;
	}
}


/*上一部分结束*/

@keyframes flowerThree {
	0% {
		transform: rotate(360deg);
		opacity: 1;
		top: 23%;
	}
	100% {
		transform: rotate(-360deg);
		opacity: 0.2;
		top: 95%;
	}
}

@-moz-keyframes flowerThree
/* Firefox */

{
	0% {
		transform: rotate(360deg);
		opacity: 1;
		top: 23%;
	}
	100% {
		transform: rotate(-360deg);
		opacity: 0.2;
		top: 95%;
	}
}

@-webkit-keyframes flowerThree
/* Safari 和 Chrome */

{
	0% {
		transform: rotate(360deg);
		opacity: 1;
		top: 23%;
	}
	100% {
		transform: rotate(-360deg);
		opacity: 0.2;
		top: 95%;
	}
}


/*上一部分结束*/

@keyframes flowerFour {
	0% {
		transform: rotate(400deg);
		opacity: 1;
		top: 44%;
	}
	100% {
		transform: rotate(-400deg);
		opacity: 0.2;
		top: 100%;
	}
}

@-moz-keyframes flowerFour
/* Firefox */

{
	0% {
		transform: rotate(400deg);
		opacity: 1;
		top: 44%;
	}
	100% {
		transform: rotate(-400deg);
		opacity: 0.2;
		top: 100%;
	}
}

@-webkit-keyframes flowerFour
/* Safari 和 Chrome */

{
	0% {
		transform: rotate(400deg);
		opacity: 1;
		top: 44%;
	}
	100% {
		transform: rotate(-400deg);
		opacity: 0.2;
		top: 100%;
	}
}


/*上一部分结束*/

@keyframes flowerFive {
	0% {
		transform: rotate(360deg);
		opacity: 1;
		top: 52%;
	}
	100% {
		transform: rotate(-360deg);
		opacity: 0.2;
		top: 100%;
	}
}

@-moz-keyframes flowerFive
/* Firefox */

{
	0% {
		transform: rotate(360deg);
		opacity: 1;
		top: 52%;
	}
	100% {
		transform: rotate(-360deg);
		opacity: 0.2;
		top: 100%;
	}
}

@-webkit-keyframes flowerFive
/* Safari 和 Chrome */

{
	0% {
		transform: rotate(360deg);
		opacity: 1;
		top: 52%;
	}
	100% {
		transform: rotate(-360deg);
		opacity: 0.2;
		top: 100%;
	}
}


/*上一部分结束*/

.fontIn {
	animation: fontIn 1s linear;
	-webkit-animation: fontIn 1s linear;
	animation-iteration-count: 1;
	-webkit-animation-iteration-count: 1;
}


.fontOut {
	animation: fontOut 1s linear;
	-webkit-animation: fontOut 1s linear;
	animation-iteration-count: 1;
	-webkit-animation-iteration-count: 1;
}
/*文字从迷雾中出现（我喜欢从烟雾中出来的感jio）*/

@keyframes fontIn {
	0% {
		opacity: 0.1;
	}
	100% {
		opacity: 1;
	}
}

@-moz-keyframes fontIn
/* Firefox */

{
	0% {
		opacity: 0.1;
	}
	100% {
		opacity: 1;
	}
}

@-webkit-keyframes fontIn
/* Safari 和 Chrome */

{
	0% {
		opacity: 0.1;
	}
	100% {
		opacity: 1;
	}
}


/*文字渐渐隐藏*/

@keyframes fontOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0.1;
	}
}

@-moz-keyframes fontOut
/* Firefox */

{
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0.1;
	}
}

@-webkit-keyframes fontOut
/* Safari 和 Chrome */

{
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0.1;
	}
}