@media screen and (max-width: 700px) {
	.swiper-container {
		width: 100%;
		height: 46vw;
		top: 15.0416666vh;
	}
}

@media screen and (min-width: 800px)  {
	.swiper-container {
		width: 100%;
		height: 50vw;
		transform: scale(0.3);
		top: -200px;
	}
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	transform: scale(0.6) !important;
	/*background: aliceblue;*/
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

.swiper-slide-active {
	/*background-color: red;*/
	opacity: 1;
	transform: scale(1) !important;
}

.swiper-slide-prev {
	opacity: 0.6;
	transform: scale(0.6) !important;
}

.swiper-slide-next {
	opacity: 0.6;
	transform: scale(0.6) !important;
}

#pageFour {
	width: 100%;
	height: 100%;
	background-image: url(../img4/PFBgOne.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;
}

.pageFourTitle{
	display: inline-block;
	position: absolute;
	left: 50%;
	width:  37.13541666vh;
	height:  6.51041666vh;
}

#pageFourTitleOne{
	top:     4.16666666vh;
	transform: translate(-50%,0%);

	background-image: url(../img4/pageFourTitleOne.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;
}


#pageFourTitleTwo{
	top: 4.16666666vh;
	transform: translate(-50%,0vh);

	background-image: url(../img4/pageFourTitleTwo.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;
}


#pageFourTitleThree{
	top: 4.16666666vh;
	transform: translate(-50%,0vh);

	background-image: url(../img4/pageFourTitleThree.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;
}


@-webkit-keyframes bounceDown {
	0%,
	100%,
	60%,
	75%,
	90% {
		-webkit-transition-timing-function: cubic-bezier(0.215, .61, .355, 1);
		transition-timing-function: cubic-bezier(0.215, .61, .355, 1)
	}
	0% {
		opacity: 0;
		-webkit-transform: translate3d(-50%, -60vh, 0);
		transform: translate3d(-50%, -60vh, 0)
	}
	100% {
		-webkit-transform: translate3d(-50%, 0, 0);
		transform: translate3d(-50%, 0, 0)
	}
}

@keyframes bounceDown {
	0%,
	100%,
	60%,
	75%,
	90% {
		-webkit-transition-timing-function: cubic-bezier(0.215, .61, .355, 1);
		transition-timing-function: cubic-bezier(0.215, .61, .355, 1)
	}
	0% {
		opacity: 0;
		-webkit-transform: translate3d(-50%, -60vh, 0);
		transform: translate3d(-50%, -60vh, 0)
	}
	100% {
		-webkit-transform: translate3d(-50%, 0, 0);
		transform: translate3d(-50%, 0, 0)
	}
}



/**************************************/

@-webkit-keyframes bounceUp {
	0%,
	100%,
	60%,
	75%,
	90% {
		-webkit-transition-timing-function: cubic-bezier(0.215, .61, .355, 1);
		transition-timing-function: cubic-bezier(0.215, .61, .355, 1)
	}
	0% {
		opacity: 0;
		-webkit-transform: translate3d(-50%, 0, 0);
		transform: translate3d(-50%, -60vh, 0)
	}
	100% {
		-webkit-transform: translate3d(-50%, 0, 0);
		transform: translate3d(-50%, -60vh, 0)
	}
}

@keyframes bounceUp {
	0%,
	100%,
	60%,
	75%,
	90% {
		-webkit-transition-timing-function: cubic-bezier(0.215, .61, .355, 1);
		transition-timing-function: cubic-bezier(0.215, .61, .355, 1)
	}
	0% {
		opacity: 0;
		-webkit-transform: translate3d(-50%, 0, 0);
		transform: translate3d(-50%, -60vh, 0)
	}
	100% {
		-webkit-transform: translate3d(-50%, , 0);
		transform: translate3d(-50%, -60vh, 0)
	}
}

.bounceDown {

	-webkit-animation: bounceDown  0.5s;
	animation-iteration-count: 1;
	animation: bounceDown  0.5s;
	-webkit-animation-iteration-count: 1;

}

.bounceUp {

	-webkit-animation: bounceUp 0.5s;
	animation: bounceUp  0.5s;
	animation-iteration-count: 1;
	-webkit-animation-iteration-count: 1;
	background: none !important;
	
}
