

h3 {
	text-align: center;
	font-size: 100px;
}

.bigPage {
	width: 100%;
	height: 100%;
	position: relative;
}

#allpage {
	position: relative;
	width: 100vw;
	height: 100%;
}




.bottomArrow {
	display: inline-block;
	position: fixed;
	max-width: 70px;
	width: 8.3%;
	z-index: 100;
	top: 88%;
	left: 50%;
	cursor: pointer;
	animation: bottomMove 2s linear;
	animation-iteration-count: infinite;
	/* Safari and Chrome */
	-webkit-animation: bottomMove 2s linear;
	-webkit-animation-iteration-count: infinite;
}

/*向下箭头动画*/
@keyframes bottomMove {
	0% {
		top: 88%;
	}
	25% {
		top: 90%;
	}
	50% {
		top: 93%;
	}
	75% {
		top: 91%;
	}
	100% {
		top: 88%;
	}
}

@-moz-keyframes bottomMove
/* Firefox */

{
	0% {
		top: 88%;
	}
	25% {
		top: 90%;
	}
	50% {
		top: 93%;
	}
	75% {
		top: 91%;
	}
	100% {
		top: 88%;
	}	
}

@-webkit-keyframes bottomMove
/* Safari 和 Chrome */

{
	0% {
		top: 88%;
	}
	25% {
		top: 90%;
	}
	50% {
		top: 93%;
	}
	75% {
		top: 91%;
	}
	100% {
		top: 88%;
	}
}
