html,
body {
    height: 100%;
}

* {
    font-size: 0;
    padding: 0;
    margin: 0;
}


#pageFive_2{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: auto;
}

.zhanwei{
    position: relative;
    height: 100%;
    overflow: hidden;
    width: 164vh;
}

#Five_bg{
    width: 100%;
    height: 100vh;
    background: url("../img5/sea_night.png");
    background-size: 100% 100%;
    z-index: -5;
}

.shicha{
    top: 0;
    position: absolute;
    overflow: hidden;
    height: 100%;
    width: 164vh;
}

.pagefive_box {
    top: 0;
    position: absolute;
    overflow-y: hidden;
    height: 100%;
    width: 100%;
}

.five_font{
    height: 17.75vh;
    width: 100%;
    position: absolute;
    z-index: 5;
}

#five_font, #five_logo, #five_media{
    position: absolute;
}

#five_font{
    height:4.475vh;
    top: 6vh;
    left: 2.81%;
}

#five_logo{
    height: 8.325vh;
    top: 2.85vh;
    left: 20.14%;
}

#five_media{
    height: 5.2vh;
    top: 13.75vh;
    left: 2.81%;
}
#five_light{
    position: absolute;
    left: -1vh;
    height: 25vh;
    top: 27.75vh;
}

#five_moon{
    position: absolute;
    height: 67.5vh;
    left: 70.3%;
    top: 1vh;
}

#five_ship{
    position: absolute;
    height: 55vh;
    top: 29vh;
    left: 13.3%;
    z-index: 1;
}

#five_stone{
    position: absolute;
    width: 80%;
    top: 58.35vh;
    left: 10.7%;
}

#five_wave{
    position: absolute;
    height: 5.4vh;
    top: 38.1vh;
    left: 36.1%;
    animation:five_wave 3s linear infinite;
}
@keyframes five_wave{
    0%{transform: translateX(0);}
    50%{transform: translateX(10px);}
    100%{transform: translateX(0);}
}

#five_dolphin{
    position: absolute;
    height: 10.3vh;
    top: 32.1vh;
    left: 48.58%;
}

.five_wendang{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 2;
}

#five_lefthand{
    width: 50px;
    height: 50px;
    position: relative;
    top: 30%;
    left: 80vw;
    margin-top: -25px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    animation: 1s five_moveleft infinite;
    z-index: 3;
}

@keyframes five_moveleft{
    0%{left:80vw;}
    100%{left: 76vw;}
}

.five_textone, .five_texttwo, .five_textthree{
    position: absolute;
    width: -webkit-fill-available;
    bottom: 7vh;
    animation: fiveText 1s linear;
    height: 51vh;
}
@keyframes fiveText{
    from{opacity: 0;}
    to{opacity: 1;}
}

.five_texttwo, .five_textthree{
    display: none;
}
/*
.five_textone>h4{
    position: absolute;
    left: 7%;
    top: 5%;
    font-size: 5vh;
    font-family: 'zaozi';
    color: #475c7c;
    font-weight: normal;
}

.five_textone>p:nth-child(3){
    position: absolute;
    left: 10%;
    top: 20%;
    font-size: 3vh;
    font-family: 'zxf';
    color: #475c7c;
}

.five_textone>p:nth-child(5){
    position: absolute;
    left: 10%;
    top: 37%;
    font-size: 2vh;
    font-family: 'zxf';
    color: #475c7c;
}

.five_textone>p:nth-child(6){
    position: absolute;
    left: 10%;
    top: 52%;
    font-size: 2vh;
    font-family: 'zxf';
    color: #475c7c;
}

.five_textone>p:nth-child(7){
    position: absolute;
    left: 10%;
    top: 66%;
    font-size: 2vh;
    font-family: 'zxf';
    color: #475c7c;
}

.five_textone>p:nth-child(8){
    position: absolute;
    left: 10%;
    top: 80%;
    font-size: 2vh;
    font-family: 'zxf';
    color: #475c7c;
}

.five_texttwo>h4{
    position: absolute;
    left: 40%;
    top: 5%;
    font-size: 5vh;
    font-family: 'zaozi';
    color: #475c7c;
    font-weight: normal;
}

.five_texttwo>p:nth-child(3){
    position: absolute;
    left: 44%;
    top: 20%;
    font-size: 3vh;
    font-family: 'zxf';
    color: #475c7c;
}

.five_texttwo>p:nth-child(5){
    position: absolute;
    left: 40%;
    top: 37%;
    font-size: 2vh;
    font-family: 'zxf';
    color: #475c7c;
}

.five_texttwo>p:nth-child(6){
    position: absolute;
    left: 40%;
    top: 54%;
    font-size: 2vh;
    font-family: 'zxf';
    color: #475c7c;
}

.five_texttwo>p:nth-child(7){
    position: absolute;
    left: 40%;
    top: 72%;
    font-size: 2vh;
    font-family: 'zxf';
    color: #475c7c;
}

.five_textthree>h4{
    position: absolute;
    left: 73%;
    top: 5%;
    font-size: 5vh;
    font-family: 'zaozi';
    color: #475c7c;
    font-weight: normal;
}

.five_textthree>p:nth-child(3){
    position: absolute;
    left: 75%;
    top: 20%;
    font-size: 3vh;
    font-family: 'zxf';
    color: #475c7c;
}

.five_textthree>p:nth-child(5){
    position: absolute;
    left: 73%;
    top: 37%;
    font-size: 2vh;
    font-family: 'zxf';
    color: #475c7c;
}

.five_textthree>p:nth-child(6){
    position: absolute;
    left: 73%;
    top: 54%;
    font-size: 2vh;
    font-family: 'zxf';
    color: #475c7c;
}

.five_textthree>p:nth-child(7){
    position: absolute;
    left: 73%;
    top: 72%;
    font-size: 2vh;
    font-family: 'zxf';
    color: #475c7c;
}*/

#five_arrow_1, #five_arrow_2{
    height: 2.725vh;
    position: absolute;
    bottom: 37.65vh;
    left: 32%;
    animation: five_arrow 2s linear infinite;
}
@keyframes five_arrow{
    0%{transform:translateX(0);}
    50%{transform:translateX(-10px);}
    100%{transform:translateX(0);}
}

#five_arrow_2{
    left: 65%;
}

#five_text_1, #five_text_2, #five_text_3{
    position: absolute;
    height: 51vh;

}

#five_text_1{
    left: 3.732%;
}

#five_text_2{
    left: 36.624%;
}

#five_text_3{
    left: 69.70%;
}

.triangle{
    width: 0;
    height: 0;
    border: 12px solid transparent;
    border-top: 15px solid #ff7b8a;
}

.five_textone>.triangle{
    top: 30%;
    position: absolute;
    left: 16%;
}

.five_texttwo>.triangle{
    top: 30%;
    position: absolute;
    left: 50%;
}

.five_textthree>.triangle{
    top: 30%;
    position: absolute;
    left: 82%;
}