
html, body{
    height: 100%;
}

*{
    font-size: 0;
    padding:0;
    margin: 0;
}
/*
img {
	璐老板你有毒毒
	pointer-events: none;
	璐老板你有毒毒
}*/

.first_page{
    height: 100%;
    width:100%;
    position: relative;
    /* overflow: hidden; */
}

#first_page_bg{
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
}

#first_sky{
    width: 100%;
    height: 80%;
    position: absolute;
    z-index: -5;
}

#first_sea_mount{
    width: 100vw;
    height: 80vh;
    bottom: 0;
    position: absolute;
}

#first_moon{
    position: absolute;
    height: 5.075vh;
    top: 12vh;
    left: 80%;
}

#first_ship{
    height: 12vh;
    position: absolute;
    bottom: 23.7vh;
    left: 54%;
    z-index: 2;
}

#first_front_mount{
    position: absolute;
    height: 84.525vh;
    bottom: 0;
    z-index: 5;
}

#first_cloud_left{
    position: absolute;
    width: 75vw;
    right: -2%;
    bottom: 61vh;
    z-index: -1;
    animation: first_cloud_left 3s linear infinite;
    transform: translate3d(0,0,0);
}
@keyframes first_cloud_left {
    0%{transform:translateX(10px); }
    25%{transform:translateX(5px); }
    50%{transform:translateX(0px);}
    75%{transform:translateX(5px); }
    100%{transform:translateX(10px);}

}

#first_cloud_right{
    position: absolute;
    width: 30%;
    bottom: 75vh;
    left: -3%;
    animation: first_cloud_right 3s linear infinite;
    transform: translate3d(0,0,0);
}
@keyframes first_cloud_right {
    0%{transform:translateX(-10px);}
    25%{transform:translateX(-5px);}
    50%{transform:translateX(0px);}
    75%{transform:translateX(-5px);}
    100%{transform:translateX(-10px);}

}

#first_cloud_right_2{
    position: absolute;
    width: 33.6%;
    top: 3.5vh;
    left: -40%;
    z-index: -1;
    animation: first_cloud_right_2 35s linear;
    transform: translate3d(0,0,0);
}
@keyframes first_cloud_right_2 {
    0%{
        transform: translateX(300px);
    }
    100%{
        transform: translateX(-200px);
    }

}

@media screen and (min-width:330px ) and (max-width:390px){
    @keyframes first_cloud_right_2 {
        0%{
            transform: translateX(350px);
        }
        100%{
            transform: translateX(-200px);
        }
    
    }
}
@media screen and (min-width:400px ){
    @keyframes first_cloud_right_2 {
        0%{
            transform: translateX(400px);
        }
        100%{
            transform: translateX(-200px);
        }
    
    }
}

#first_cloud_right_2_1{
    position: absolute;
    width: 33.6%;
    top: 3.5vh;
    right: -35%;
    z-index: -1;
    animation: first_cloud_right_2_1 35s linear infinite;
    animation-delay: 23s;
    transform: translate3d(0,0,0);
}
@keyframes first_cloud_right_2_1 {
    from{
        transform: translateX(-20px);
    }
    to{
        transform: translateX(-600px);
    }

}

#first_wave_1{
    position: absolute;
    height: 14vh;
    left: 44.5%;
    bottom: 19vh;
    animation: first_wave_1 8s linear infinite;
    transform: translate3d(0,0,0);
}
@keyframes first_wave_1{
    0%{
        transform: translateX(0px);
        opacity: 1;
    }
    50%{
        transform: translateX(20px);
        opacity: 0.1;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}

#first_wave_2{
    position: absolute;
    height: 13vh;
    left: 42.5%;
    bottom: 19vh;
    animation: first_wave_2 8s linear infinite;
	animation-delay: 400ms;
    transform: translate3d(0,0,0);
}
@keyframes first_wave_2{
    0%{
        transform: translateX(0px);
        opacity: 1;
    }
    50%{
        transform: translateX(-20px);
        opacity: 0.1;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}

#first_big_title{
    height: 12vh;
    position: absolute;
    top: 4%;
    left: 7%;
    z-index: 6;
}

/* #first_LOGO{
    position: absolute;
    height: 8vh;
    left: 54vw;
    top: 2%;
    z-index: 6;
}
@media screen and (min-height : 800px){
    #first_LOGO{
        left: 64vw;
    }
} */

#first_font{
    position: absolute;
    height: 3vh;
    top: 18.3vh;
    right: 2.6%;
}

.first_page_button{
    width: 16vh;
    height: 8vh;
    position: absolute;
    z-index: 6;
    right: 2%;
    height: 50px;
}
#first_page_button_1{
    /* top: 81.5%; */
    bottom: 11vh;
}
#first_page_button_2{
    /* top: 89%; */
    bottom: 4vh;
}

#first_button{
    width: 100%;
    top: 1vh;
    position: absolute;
}

.first_page_button>p{
    width: 100%;
    font-size: 2.35vh;
    line-height: 8vh;
    position: absolute;
    text-align: center;
    color: aliceblue;
}