

#pageTwo {
	width: 100%;
	height: 100%;
	background-image: url(../img2/pageTwoBg.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center;
	overflow-x: scroll;
}
#pageTwoBox{
	display: inline-block;
	position: relative;
	z-index: 2;
	height: 100%;
	width: 56.25vh;
	/*background-color: red;*/
}

#pageTwoHeadTitleOne{
	display: inline-block;
	position: absolute;
	top:     2.5vh;
	left:    3.64583333vh;
	width: 20.72916666vh;
	height: 4.01041666vh;
	background-image: url(../img2/pageTwoHeadTitleOne.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center;
	
}


#pageTwoHeadTitleTwo{
	display: inline-block;
	position: absolute;
	top:     7.39583333vh;
	left:    3.64583333vh;
	width: 15.52083333vh;
	height: 1.97916666vh;
	background-image: url(../img2/pageTwoHeadTitleTwo.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center;
	
}


#pageTwoHeadTitleThree{
	display: inline-block;
	position: absolute;
	top:     10.9375000vh;
	left:    3.64583333vh;
	width: 34.947916670vh;
	height: 1.979166660vh;
	background-image: url(../img2/pageTwoHeadTitleThree.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center;
	
}


#pageTwoHeadLogo{
	display: inline-block;
	position: absolute;
	top:     1.25vh;
	left:    25.8333333vh;
	width:   6.25000000vh;
	height:  6.25000000vh;
	background-image: url(../img2/pageTwoHeadLogo.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center;
	
}
#pageTwoHead{

	position: relative;
	height: 14.427vh;
	width: 100%;
	
	/*background-color: red;*/
	
	
}


@media screen and (max-width: 300px) {
    
}


#pageTwoCenterOne{
	position: relative;
	width:  100%;
	height: 17.7083333vh;
	/*background-color: red;*/
}

#pageTwoCenterOneLeft{
	display: inline-block;
	position: relative;
	top:     0vh;
	left:    1.4vh;
	width: 	15.57291666vh;
	height: 15.26041666vh;
	/*background-color: teal;*/
	background-image: url(../img2/pageTwoSky.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center;
	
}

#pageTwoCenterOneRight{
	display: inline-block;
	position: relative;
	top:     0vh;
	margin-top: 2.5vh;
	left:    2.6vh;
	width: 	31.51041666vh;
	height: 12.44792666vh;
	/*background-color: teal;*/
	background-image: url(../img2/pageTwoCenterFontOne.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center;
}








#pageTwoCenterTwo{
	position: relative;
	width:  100%;
	height: 18.75vh;
	/*background-color: blue;*/
}

#pageTwoCenterTwoLeft{
	display: inline-block;
	position: relative;
	top:     1.56250000vh;
	left:    3.64583333vh;
	width: 	38.17708333vh;
	height: 15.05208333vh;
	/*background-color: teal;*/
	background-image: url(../img2/pageTwoCenterFontTwo.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center;
}

#pageTwoCenterTwoRight{
	display: inline-block;
	position: relative;
	top:     1.56250000vh;
	/*margin-top: 2.5vh;*/
	left:    4.88541700vh;
	width: 	13.59375000vh;
	height: 15.36458333vh;
	/*background-color: teal;*/
	background-image: url(../img2/pageTwoSea.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center;
}



#pageTwoCenterThree{
	position: relative;
	width: 100%;
	height: 22.86458333vh;
	/*background-color: yellow;*/
}



#pageTwoCenterThreeLeft{
	display: inline-block;
	position: relative;
	top:     2.76041666vh;
	left:    0.72916666vh;
	width: 	14.11458333vh;
	height: 14.68750000vh;
	/*background-color: teal;*/
	background-image: url(../img2/pageTwoLand.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center;
}

#pageTwoCenterThreeRight{
	display: inline-block;
	position: relative;
	top:     1.40625000vh;
	/*margin-top: 2.5vh;*/
	left:    3.54166666vh;
	width: 	33.95833333vh;
	height: 20.26041666vh;
	/*background-color: teal;*/
	background-image: url(../img2/pageTwoCenterFontThree.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center;
}

#pageTwolang{
	display: inline-block;
	position: absolute;
	/*top: 18.5833333vh;*/
	bottom:2.5833333vh;
	left:    3.95833333vh;
	
	width: 50.98958333vh;
	height: 5.72916666vh;
	background-image: url(../img2/pageTwolang.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center;
}
