
html, body{
    height: 100%;
}

*{
    font-size: 0;
    padding:0;
    margin: 0;
}
/*
img {
	璐老板你有毒毒
	pointer-events: none;
	璐老板你有毒毒
}*/

.first_page{
    height: 100%;
    width:100%;
    position: relative;
    /* overflow: hidden; */
}

#first_page_bg{
    width: 100%;
    height: 100%;
    position: absolute;
    overflow-x: hidden;
}

#first_sky{
    width: 100%;
    height: 80%;
    position: absolute;
    z-index: -5;
}

#first_sea_mount{
    width: 100vw;
    height: 80vh;
    bottom: 0;
    position: absolute;
}

#first_ship{
    width: 26%;
    position: absolute;
    top: 65.7vh;
    left: 54%;
    z-index: 2;
}

#first_front_mount{
    position: absolute;
    height: 84.525vh;
    bottom: 0;
    z-index: 5;
}

#first_cloud_left{
    position: absolute;
    width: 75vw;
    right: -2%;
    top: 24.35vh;
    z-index: -1;
    animation: first_cloud_left 4s linear infinite;
}
@keyframes first_cloud_left {
    0%{right: -3%;}
    25%{right: -1.5%;}
    50%{right: 0;}
    75%{right: -1.5%;}
    100%{right: -3%;}

}

#first_cloud_right{
    position: absolute;
    width: 30%;
    top: 9vh;
    left: -3%;
    animation: first_cloud_right 3s linear infinite;
}
@keyframes first_cloud_right {
    0%{left: -3%;}
    25%{left: -1.5%;}
    50%{left: 0;}
    75%{left: -1.5%;}
    100%{left: -3%;}

}

#first_cloud_right_2{
    position: absolute;
    width: 33.6%;
    top: 3.5vh;
    left: -57%;
    z-index: -1;
    animation: first_cloud_right_2 95s;
}
@keyframes first_cloud_right_2 {
    from{
        left: 57%;
    }
    to{
        left: -100%;
    }

}

#first_cloud_right_2_1{
    position: absolute;
    width: 33.6%;
    top: 3.5vh;
    right: -35%;
    z-index: -1;
    animation: first_cloud_right_2_1 35s linear infinite;
    animation-delay: 30s;
}
@keyframes first_cloud_right_2_1 {
    from{
        right: -35%;
    }
    to{
        right: 100%;
    }

}

#first_wave_1{
    position: absolute;
    width: 54.5%;
    left: 44.5%;
    top: 68vh;
    animation: first_wave_1 3s linear infinite;
}
@keyframes first_wave_1{
    0%{left: 44.5%;}
    50%{left: 42.5%;}
    100%{left: 44.5%;}
}

#first_wave_2{
    position: absolute;
    width: 54.5%;
    left: 42.5%;
    top: 68vh;
    animation: first_wave_2 2.5s linear infinite;
}
@keyframes first_wave_2{
    0%{left: 42.5%;}
    50%{left: 44.5%;}
    100%{left: 42.5%;}
}

#first_big_title{
    width: 46%;
    position: absolute;
    top: 5vh;
    left: 8%;
    z-index: 6;
}

#first_LOGO{
    position: absolute;
    width: 14.6%;
    height: 8%;
    left: 54%;
    top: 3vh;
    z-index: 6;
}

#first_font{
    position: absolute;
    width: 80%;
    top: 18.3vh;
    right: 6.6%;
}

.first_page_button{
    width: 16vh;
    height: 8vh;
    position: absolute;
    z-index: 6;
    right: 2%;
    height: 50px;
}
#first_page_button_1{
    top: 81.5%;
}
#first_page_button_2{
    top: 89%;
}

#first_button{
    width: 100%;
    top: 1vh;
    position: absolute;
}

.first_page_button>p{
    width: 100%;
    font-size: 2.5vh;
    line-height: 8vh;
    position: absolute;
    text-align: center;
    color: aliceblue;
}