/*#pageTwo_head {
	position: absolute;
	opacity: 0;
	left: 8.444444%;
	top: 4.800000%;
	width: 37.333333%;
	height: 12.217625%;
	background-color: red;
}


.fontSizeOne{
	font-size: 64px;
}
.fontSizeTwo{
	font-size: 40px;
}
.fontSizeOnePc{
	font-size: 40px;
}
.fontSizeTwoPc{
	font-size: 24px;
}*/
