/***     从右边弹出来                       ***/


@-webkit-keyframes bounceInRight {
	0%,
	100%,
	60%,
	75%,
	90% {
		-webkit-transition-timing-function: cubic-bezier(0.215, .61, .355, 1);
		transition-timing-function: cubic-bezier(0.215, .61, .355, 1)
	}
	0% {
		opacity: 0;
		-webkit-transform: translate3d(3000px, 0, 0);
		transform: translate3d(3000px, 0, 0)
	}
	60% {
		opacity: 1;
		-webkit-transform: translate3d(-25px, 0, 0);
		transform: translate3d(-25px, 0, 0)
	}
	75% {
		-webkit-transform: translate3d(10px, 0, 0);
		transform: translate3d(10px, 0, 0)
	}
	90% {
		-webkit-transform: translate3d(-5px, 0, 0);
		transform: translate3d(-5px, 0, 0)
	}
	100% {
		-webkit-transform: none;
		transform: none
	}
}

@keyframes bounceInRight {
	0%,
	100%,
	60%,
	75%,
	90% {
		-webkit-transition-timing-function: cubic-bezier(0.215, .61, .355, 1);
		transition-timing-function: cubic-bezier(0.215, .61, .355, 1)
	}
	0% {
		opacity: 0;
		-webkit-transform: translate3d(3000px, 0, 0);
		-ms-transform: translate3d(3000px, 0, 0);
		transform: translate3d(3000px, 0, 0)
	}
	60% {
		opacity: 1;
		-webkit-transform: translate3d(-25px, 0, 0);
		-ms-transform: translate3d(-25px, 0, 0);
		transform: translate3d(-25px, 0, 0)
	}
	75% {
		-webkit-transform: translate3d(10px, 0, 0);
		-ms-transform: translate3d(10px, 0, 0);
		transform: translate3d(10px, 0, 0)
	}
	90% {
		-webkit-transform: translate3d(-5px, 0, 0);
		-ms-transform: translate3d(-5px, 0, 0);
		transform: translate3d(-5px, 0, 0)
	}
	100% {
		-webkit-transform: none;
		-ms-transform: none;
		transform: none
	}
}

/***         右边回去                      ***/


@-webkit-keyframes bounceOutRight {
	20% {
		opacity: 1;
		-webkit-transform: translate3d(-20px, 0, 0);
		transform: translate3d(-20px, 0, 0)
	}
	100% {
		opacity: 0;
		-webkit-transform: translate3d(2000px, 0, 0);
		transform: translate3d(2000px, 0, 0)
	}
}

@keyframes bounceOutRight {
	20% {
		opacity: 1;
		-webkit-transform: translate3d(-20px, 0, 0);
		-ms-transform: translate3d(-20px, 0, 0);
		transform: translate3d(-20px, 0, 0)
	}
	100% {
		opacity: 0;
		-webkit-transform: translate3d(2000px, 0, 0);
		-ms-transform: translate3d(2000px, 0, 0);
		transform: translate3d(2000px, 0, 0)
	}
}




/*从左边弹出来*/

@-webkit-keyframes bounceInLeft {
	0%,
	100%,
	60%,
	75%,
	90% {
		-webkit-transition-timing-function: cubic-bezier(0.215, .61, .355, 1);
		transition-timing-function: cubic-bezier(0.215, .61, .355, 1)
	}
	0% {
		opacity: 0;
		-webkit-transform: translate3d(-600px, 0, 0);
		transform: translate3d(-600px, 0, 0)
	}
	60% {
		opacity: 1;
		-webkit-transform: translate3d(25px, 0, 0);
		transform: translate3d(25px, 0, 0)
	}
	75% {
		opacity: 1;
		-webkit-transform: translate3d(-10px, 0, 0);
		transform: translate3d(-10px, 0, 0)
	}
	90% {
		opacity: 1;
		-webkit-transform: translate3d(5px, 0, 0);
		transform: translate3d(5px, 0, 0)
	}
	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none
	}
}

@keyframes bounceInLeft {
	0%,
	100%,
	60%,
	75%,
	90% {
		-webkit-transition-timing-function: cubic-bezier(0.215, .61, .355, 1);
		transition-timing-function: cubic-bezier(0.215, .61, .355, 1)
	}
	0% {
		opacity: 0;
		-webkit-transform: translate3d(-600px, 0, 0);
		-ms-transform: translate3d(-600px, 0, 0);
		transform: translate3d(-600px, 0, 0)
	}
	60% {
		opacity: 1;
		-webkit-transform: translate3d(25px, 0, 0);
		-ms-transform: translate3d(25px, 0, 0);
		transform: translate3d(25px, 0, 0)
	}
	75% {
		opacity: 1;
		-webkit-transform: translate3d(-10px, 0, 0);
		-ms-transform: translate3d(-10px, 0, 0);
		transform: translate3d(-10px, 0, 0)
	}
	90% {
		opacity: 1;
		-webkit-transform: translate3d(5px, 0, 0);
		-ms-transform: translate3d(5px, 0, 0);
		transform: translate3d(5px, 0, 0)
	}
	100% {
		opacity: 1;
		-webkit-transform: none;
		-ms-transform: none;
		transform: none
	}
}




/*从左边弹出来回去*/

@-webkit-keyframes bounceOutLeft {
	0%,
	100%,
	60%,
	75%,
	90% {
		-webkit-transition-timing-function: cubic-bezier(0.215, .61, .355, 1);
		transition-timing-function: cubic-bezier(0.215, .61, .355, 1)
	}
	20% {
		opacity: 1;
		-webkit-transform: translate3d(20px, 0, 0);
		transform: translate3d(20px, 0, 0)
	}
	100% {
		opacity: 0;
		-webkit-transform: translate3d(-600px, 0, 0);
		transform: translate3d(-600px, 0, 0)
	}
}

@keyframes bounceOutLeft {
	0%,
	100%,
	60%,
	75%,
	90% {
		-webkit-transition-timing-function: cubic-bezier(0.215, .61, .355, 1);
		transition-timing-function: cubic-bezier(0.215, .61, .355, 1)
	}
	20% {
		opacity: 1;
		-webkit-transform: translate3d(20px, 0, 0);
		-ms-transform: translate3d(20px, 0, 0);
		transform: translate3d(20px, 0, 0)
	}
	100% {
		opacity: 0;
		-webkit-transform: translate3d(-600px, 0, 0);
		-ms-transform: translate3d(-600px, 0, 0);
		transform: translate3d(-600px, 0, 0)
	}
}


/******************************/



.bounceInRight {
	-webkit-animation: bounceInRight 1.2s;
	animation: bounceInRight 1.2s;
	animation-iteration-count: 1;
	-webkit-animation-iteration-count: 1;
}

.bounceOutRight {
	-webkit-animation: bounceOutRight 0.6s;
	animation: bounceOutRight 0.6s;
	animation-iteration-count: 1;
	-webkit-animation-iteration-count: 1;
}


/******************************/



.bounceInRightOne {
	-webkit-animation: bounceInRight 1s;
	animation: bounceInRight 1s;
	animation-iteration-count: 1;
	-webkit-animation-iteration-count: 1;
}

.bounceOutRightOne {
	-webkit-animation: bounceOutRight 0.4s;
	animation: bounceOutRight 0.4s;
	animation-iteration-count: 1;
	-webkit-animation-iteration-count: 1;
}


/******************************/


.bounceInRightTwo {
	-webkit-animation: bounceInRight 1.4s;
	animation: bounceInRight 1.4s;
	animation-iteration-count: 1;
	-webkit-animation-iteration-count: 1;
}

.bounceOutRightTwo {
	-webkit-animation: bounceOutRight 0.8s;
	animation: bounceOutRight 0.8s;
	animation-iteration-count: 1;
	-webkit-animation-iteration-count: 1;
}


/******************************/



.bounceInLeft {
	animation: bounceInLeft 1.2s ;
	-webkit-animation: bounceInLeft 1.2s ;
	animation-iteration-count: 1;
	-webkit-animation-iteration-count: 1;
}


.bounceOutLeft {
	animation: bounceOutLeft 0.6s ;
	-webkit-animation: bounceOutLeft 0.6s ;
	animation-iteration-count: 1;
	-webkit-animation-iteration-count: 1;
}



/*上一部分结束*/

.fontIn {
	animation: fontIn 1s linear;
	-webkit-animation: fontIn 1s linear;
	animation-iteration-count: 1;
	-webkit-animation-iteration-count: 1;
}


.fontOut {
	animation: fontOut 1s linear;
	-webkit-animation: fontOut 1s linear;
	animation-iteration-count: 1;
	-webkit-animation-iteration-count: 1;
}
/*文字从迷雾中出现（我喜欢从烟雾中出来的感jio）*/

@keyframes fontIn {
	0% {
		opacity: 0.1;
	}
	100% {
		opacity: 1;
	}
}

@-moz-keyframes fontIn
/* Firefox */

{
	0% {
		opacity: 0.1;
	}
	100% {
		opacity: 1;
	}
}

@-webkit-keyframes fontIn
/* Safari 和 Chrome */

{
	0% {
		opacity: 0.1;
	}
	100% {
		opacity: 1;
	}
}


/*文字渐渐隐藏*/

@keyframes fontOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0.1;
	}
}

@-moz-keyframes fontOut
/* Firefox */

{
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0.1;
	}
}

@-webkit-keyframes fontOut
/* Safari 和 Chrome */

{
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0.1;
	}
}